#header {
  margin-top: 24px;
  margin-left: 100px;
  margin-right: 100px;

  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  padding: 0px;
  gap: 297px;
  #logo {
    width: 126px;
    height: 50px;
    background: url(assets/images/logo.png);
    flex: none;
    order: 0;
    flex-grow: 0;
  }
  #menu {
    display: flex;
    flex-direction: row;
    align-items: center;
    padding: 0px;
    gap: 40px;
    flex: none;
    order: 1;
    flex-grow: 0;
    ul {
      display: flex;
      flex-direction: row;
      align-items: flex-start;
      padding: 0px;
      gap: 41px;
      flex: none;
      order: 0;
      flex-grow: 0;
      li {
        display: inline;
        float: inline-start;
        list-style: none;
        font-family: "Jost";
        font-style: normal;
        font-weight: 500;
        font-size: 15px;
        line-height: 22px;
        &:hover {
          cursor: pointer;
          box-sizing: border-box;
          box-shadow: 0px -1px 0px 0px inset;
        }
      }
    }
    #buttons-container {
      /* Auto layout */

      display: flex;
      flex-direction: row;
      align-items: center;
      padding: 0px;
      gap: 20px;

      flex: none;
      order: 1;
      flex-grow: 0;
      @include div-button("btn", 56px, 15px, 26px, 0, 30px);
    }
  }
}
